@use "../abstracts" as abstracts;

:host {
    position: absolute;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

#nav{
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    padding-left: 1rem;

    color: abstracts.$background-color;
    background: abstracts.$font-color;
    height: 3rem;

    border-radius: 0.5rem 0.5rem 0 0;

    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    & button{
        cursor: pointer;
        background-color: transparent;
        border: none;
        width: 2rem;
        height: calc(100%);

        &:hover{
            color: abstracts.$font-color;
            background: abstracts.$background-color;
        }
    }
}

#main {
    color: abstracts.$font-color;
    background: abstracts.$background-color;

    border: solid abstracts.$font-color 1px;
    border-top: none;

    border-radius: 0 0 0.5rem 0.5rem;

    margin: 0;
    padding: 0;
}
